*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 72vh;
    width: 100%;
    position: relative;
    background: url(images/back2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 70vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav{
    height: 7%;
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container .logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}

.container nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color: #6f34fe;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1{
    position: relative;
    width: 40%;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.content .section-1 h3{
    font-size: 24px;
    color: #6f34fe;
    margin-bottom: 10px;
}

.content .section-1 p{
    font-size: 20px;
    color: #505052;
    margin-bottom: 50px;
}

.content .btn{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

.content .btn:hover{
    background-color: #fff;
    color: #6f34fe;
}

.content .section-2{
    width: 60%;
    position: relative;
}

.content .section-2::after{
    content: '';
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    z-index: -1;
    top: 20%;
    left: 24%;
}

.content .section-2 img{
    width: 70%;
}







.conent .nam{
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.conent{
    width: 1200px;
    height: 70vh;
    margin: auto;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
}
.conent .par {
    font-size: 20px;
    color: #000;
    margin-bottom: 50px;
    font-weight: 500;
}
.conent h2{
    font-family: 'Times New Roman';
    font-size: 35px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 2px;
    color: #6f34fe;
}
.containerr {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 70%;
  }
  .varprofiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);

    height: 42vh;
    width: 30vh;
    margin-left: 20px;
  }
  .rounded-circle {
    border-radius: 50%;
  }
  .nam {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;    
    font-weight: 700;
  }
  
  .det {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .varprofiles .cdn{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    margin-bottom: 1px;
  }
    
  .varprofiles .cdn:hover {
    background-color: #fff;
    color: #6f34fe;
  }

  .conent .cdn{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    margin-bottom: 1px;
  }
    
  .conent .cdn:hover {
    background-color: #fff;
    color: #6f34fe;
  }

  .neo {
    width: 1200px;
    margin: 0 auto;
    color: #000;
    padding: 20px;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
  }
  
  .profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
    font-family: Arial;
    font-size: 17px;
    letter-spacing: 1.2px;
  }
  
  .profile-table td {
    padding: 5px 10px;
  }
  
  .profile-table td.person {
    width: 30%;
    cursor: pointer;
  }
  